body {
    background: #caf0f8 url("diagonal-waves.png") repeat;
    font-family: 'Fauna One', serif;
    font-size: 16px;
}
#photos {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
    background: rgba(0, 119, 182, .6) url("background1.png");
    bottom: 0;
    box-shadow: 0px 10px 10px black inset;
    color: #004aad;
    display: inline-block;
}
#footerprofile {
    background: rgba(0, 119, 182, .6) url("background1.png");
    bottom: 0;
    height: auto;
    box-shadow: 0px -10px 10px black;
    color: #004aad;
    display: inline-block;
}

#top {
    background: rgba(0, 119, 182, .6) url("background1.png");
    box-shadow: 0px 10px 10px black;
    color: #1c228c;
}

#heading {
    background: rgba(0, 119, 182, .6) url("background1.png");
    font-family: Cinzel, serif;
    color: #1c228c;
    font-size: 50px;
    box-shadow: 0px -10px 10px black inset;
}
#heading p, h1 {
    font-size:38px;
    color: #060938;
}
#column:hover #photos {
    opacity: 0.3;
}
#column:hover .middle {
    opacity: 1;
}

#column {
    width: 18rem;
    background: #90E0EF url("watersplash.png") repeat;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #90E0EF;
}
.text {
    background-color: #00B4D8;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Fauna One', serif;
}
#canvasphotos {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.offcanvas {
    visibility: visible;
}
.overlaytext {
    color: #03045E;
    font-size: 24px;
    padding: 16px 32px;
    font-family: 'Fauna One', serif;
    font-weight: bold;
}
.btn {
    color: #1c228c;
}
.offcanvas-header {
    background-color: rgb(28, 34, 140);
    box-shadow: 0px 10px 10px black;
    color: rgba(255,255,255,.55);
}

.offcanvas-body {
    background: rgb(0, 119, 182, .9) url("diagonal-waves.png") repeat;
}
#offcanvasRightLabel {
    color: rgba(255,255,255,.55);
}
#loginbox {
    width: 30rem;
    background-color: #CAF0F8;
    border: 2px solid #03045E;
    border-radius: 5px;
}
#adduserloginbox {
    width: 30rem;
    background-color: #CAF0F8;
    border: 2px solid #03045E;
    border-radius: 5px;
}
#article {
    background-color: #CAF0F8;
    border: 2px solid #03045E;
    border-radius: 5px;
}
.submitbtn {
    background: #CAF0F8 url("diagonal-waves.png") repeat;
    border: 2px solid #03045E;
    border-radius: 5px;
}
#profilepic {
    margin-bottom: 1em;
    margin-top: 1em;
    border-width: 10px;
}
.fa-ul li a {
    font-size: 36px;
    color: #CAF0F8;
    margin-left: 1em;

}
button i {
    --fa-border-radius: 100%;
    --fa-border-padding: 8px;
    --fa-border-color: #1c228c;
    --fa-pull-margin: 4px;
}
.card-body, .card-footer {
    background-color: #CAF0F8;
}
.colorone {
    color: darkgray;
    --fa-animation-iteration-count: 1;
    --fa-animation-duration: 500ms;
    --fa-animation-timing: ease-out;
    --fa-beat-scale: 1.5;

}
.colortwo {
    color: #0077B6;
    --fa-animation-iteration-count: 1;
    --fa-animation-duration: 500ms;
    --fa-animation-timing: ease-out;
    --fa-beat-scale: 1.5;
}
#maincard {
    background-color: rgba(0, 119, 182, .6);
    box-shadow: 10px -10px 15px black inset, -10px 10px 15px black inset;
    border-radius: 15px;
    display: inline;
}
#profilecard {
    background-color: rgba(0, 119, 182, .6);
    border-radius: 15px;
    display: inline;
}

#xmark {
    color: #CAF0F8;
}
#z {
    z-index: 1100;
    text-align: center;
    position: absolute;
    left: 42%;
    top: 1%;
}
#z a img {
    height: 60px;
    width: auto;
    text-align: center;
}
.fadedmessage h2{
    opacity: 0.5;
    color: #90E0EF;
}
#content {
    height: inherit;
}
.linkdecorationrm {
    text-decoration: none;
    color: #004aad;
}

div.col-sm-1.pt-5.mt-5 > img{
    width: 100px;
}

div.col-sm-4.pt-5.mt-5 > p{
    text-align: justify;
    margin: auto;
}
#titleicons {
    color: #1c228c;
}
img.profilepic{
    	width: 70px;
    	margin-right: 10px;
	border-radius: 50%;
}
a>img.bigProfilePic{
   	width: 100px;
	border-radius: 50%;
	
}
div>img.sideProfilePic{
	width: 70px;
	margin-bottom: 10px;
	border-radius: 50%;
}
button>img.navProfilePic{
	width: 45px;
	border-radius: 50%;
}
img.center-block{
	width: 25%;
    	mix-blend-mode: color-burn;
}
div.row.d-flex.pt-5.text-center>h4{
	color: #1c228c;
	font-weight: bold;
}
#dashcard {
    background: rgb(0, 119, 182, .9) url("diagonal-waves.png") repeat;
}
.likesbutton {
    background-color: #CAF0F8;
    border: none;
}
div.card.mt-3{
    background-color:#CAF0F8;
}
